<div ng-if="navigation" ng-include="'app/views/layouts/nav.html'"></div>
<div class="container">
	<div class="jumbotron">
	        <h1>AngularJS Login APP</h1>
	        <p>Welcome to <b>somepage</b> of the app, {{userInfo.username}}. With this login system template your web applications will need less effort. Try this secure(?) module :)</p>
	        <p>
	          <a class="btn btn-lg btn-primary" href="#/somepage" role="button">View login docs &raquo;</a>
	        </p>
	      </div>
	    </div>
</div>
